<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>CS TAX ACCOUNTANTS |Home</title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap" rel="stylesheet">
	<div class = "image">
		<div class = "header">
			
		</div>
	</div>
</head>
<body>
	<div id="app">
		<div class="flex-row" id="navigation">
			<div class="flex-row">
				<img src="accounting.svg" class="pic">
				<div><h1>CS TAX ACCOUNTANTS</h1></div>
			</div>
			<div class="flex-row" id="bigmenu">
				<div class="flex-row">
					<div class="mik">
						<img src="sell.svg" class="pic">
						<h2 @click="toogleproduct">services</h2>
					</div>
					<span></span>
					<div class="mik">
						<img src="AboutUs.svg" class="pic">
						<h2 @click="toogleabout">About section</h2>
					</div>
					<span></span>
					<div class="mik">	
						<img src="ContactUs.svg" class="pic">
						<h2 @click="tooglecontact">Contact an accountant</h2>
					</div>
					<span></span>
				</div>
				<span></span>
				<div class="mik">
					<img src="signup.svg" class="pic">
					<h2 @click="tooglelogin">signup</h2>
				</div>
				<span></span>
				<div id="cart" @click="iscart=!iscart">
					<div class="flex-row">
						<div class="mik">
							<img src="shoppingcart.svg" class="pic">
							<h2>Services cart</h2>
						</div>
					</div>
					<div v-if="iscart" id="thecart">
						<ul v-for="item in cart">
							<li class="flex-row" style="justify-content: left">
			                  <div>{{item.qty}}</div>
			                  <span></span>
			                  <div>{{item.name}}</div>
			                  <span></span>
			                  <div>{{item.price}}</div>
			                </li>
						</ul>
					</div>
				</div>
			</div>
			<div>
				<button onclick="myFunction()">Purchase services</button>
				<script>
					function myFunction() {
  						alert("Thanks, for purchasing our services");
					}
				</script>
			</div>
			<div class="dropdown">
  				<button class="dropbtn">Menu</button>
  				<div class="dropdown-content" style="padding: 10px;">
					<span></span>
					<h2 @click="toogleproduct">Products</h2>
					<h2 @click="toogleabout">About Us</h2>
					<h2 @click="tooglecontact">Contact Us</h2>
					<h2 @click="tooglelogin">Log in</h2>
 				</div>
			</div>
			<div id="cart" class="cart2" @click="iscart=!iscart">
					<div class="flex-row">
						<div class="mik">
							<img src="cart.svg" class="pic">
							<h2>Cart</h2>
						</div>
					</div>
					<div v-if="iscart" id="thecart">
						<ul v-for="item in cart">
							<li class="flex-row" style="justify-content: left">
			                  <div>{{item.qty}}</div>
			                  <span></span>
			                  <div>{{item.name}}</div>
			                  <span></span>
			                  <div>{{item.price}}</div>
			                </li>
						</ul>
					</div>
				</div>
		</div>

		<div v-if="isproduct" id="products">
			<span></span>
			<!-- <h1>Products</h1> -->
			<hr>
			<div class="flex-row" id="navigation">
				<h2 class="mik" @click="toogleitr">itr</h2>
				<h2 class="mik" @click="tooglegst">gst</h2>
				<h2 class="mik" @click="toogleasic">asic</h2>
				<h2 class="mik" @click="tooglebundles">bundles</h2>
			</div>
			<br>
			<div v-if="isitr">
				<div v-for="item in products" v-if="item.type=='itr'">
						<product-item :item="item" @add="add" @remove="remove"></product-item>
				</div>
			</div>
			<div v-if="isgst">
				<div v-for="item in products" v-if="item.type=='gst'">
						<product-item :item="item" @add="add" @remove="remove"></product-item>
				</div>
			</div>
			<div v-if="isasic">
				<div v-for="item in products" v-if="item.type=='asic'">
						<product-item :item="item" @add="add" @remove="remove"></product-item>
				</div>
			</div>
			<div v-if="isbundles">
				<div v-for="item in products" v-if="item.type=='bundles'">
						<product-item :item="item" @add="add" @remove="remove"></product-item>
				</div>
			</div>
		</div>

		<div v-if="isabout">
			<div id="contact">
            	<div class="conh">
                	ABOUT US
            	</div>
            	<div class="abox">
                	<div class="abtus">
                    	<div id=contact>
                    		<P>
                    			We are a small service, which provide packasges which can be purchased to do gsts, tax returns, asic forms and other accountant forms and you can use these services when you need them.
								<br>
								One charted accountant will be always available when you call on company no. to deal with any issues with tax returns, gsts, etc. These services are free to and anyone can access them who have signed up in the website.
							</P>
                    	</div>
                	</div>
            	</div>
            </div>
		</div>

		<div v-if="iscontact">
			<div class="contact">
            	<div class="conh">
                	CONTACT US
            	</div>
            	<div class="cbox">
                	<div class="cont">
                    	<div id=contact>
                    		<div style="font-size: 26px" > {{company}}<br></div>
                        	&#9990; {{ ph }}<br>
                        	&#9993; {{ email }}<br>
                    	</div>
                	</div>
            	</div>
            </div>
        </div>

		<div v-if="islogin" >
			<!-- <h1>Login page</h1>
			<a class="sign_out" href="login.html"><i class="fa fa-sign-out"></i>Sign out</a> -->
			<div class="logpage">
				<div class="wrapper">
			   		<div class="title-text">
						<div class="title login">CS TAX ACCOUNTANTS</div>
						<div class="title signup">Signup Form</div>
					</div>
					<div class="form-container">
						<div class="slide1-controls">
							<input type="radio" name="slide1" id="login" checked />
							<input type="radio" name="slide1" id="signup" />
					    	<label for="login" class="slide1 login">Login</label>
					    	<label for="signup" class="slide1 signup">Signup</label>
					    	<div class="slide1r-tab"></div>
						</div>
						<div class="form-inner">
					   		<form action="#" class="login">
						    	<div class="field">
						        	<input type="text" placeholder="Email Address" required />
						    	</div>
						    	<div class="field">
						        	<input type="password" placeholder="Password" required />
						    	</div>
						    	<div class="pass-link">
						        	<a href="#">Forgot password?</a>
						    	</div>
						    	<div class="field btn-form">
						        	<div class="btn-layer"></div>
						        	<div class="login1"><input type="submit" value="Login" /></div>
						            <!-- <input type="submit" value="Login" /> -->
						        </div>
						        <div class="signup-link">
						        	Not a member?
						        	<a href>Signup now</a>
						        </div>
					    	</form>
					    	<form action="#" class="signup">
					        	<div class="field">
					          		<input type="text" placeholder="Email Address" required />
					        	</div>
					        	<div class="field">
					            	<input type="password" placeholder="Password" required />
					        	</div>
					        	<div class="field">
					            	<input type="password" placeholder="Confirm password" required />
					        	</div>
					        	<div class="field btn-form">
					            	<div class="btn-layer"></div>
					            	<input type="submit" value="Signup" />
					        	</div>
					   		</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="main.js"></script>
</body>
</html>